<div class="flex items-center justify-between gap-5 flex-col 700:flex-row wrapper">
  <image
    routerLink="/"
    class="w-18 800:w-20 1200:w-25 aspect-[130/83] cursor-pointer"
    src="images/logos/white-logo.svg"
  />

  <p class="text-[#C8CCD7] font-thin order-last 700:order-none">Barcha huquqlar himoyalangan</p>

  <div class="flex gap-3">
    <a
      class="w-8 aspect-square border-2 border-white rounded-full grid place-content-center"
      href="https://t.me/fulfil_education"
    >
      <icon name="telegram" size="24"/>
    </a>
    <a
      class="w-8 aspect-square border-2 border-white rounded-full grid place-content-center"
      href="https://t.me/fulfil_education"
    >
      <icon name="instagram" size="23"/>
    </a>
    <a
      class="w-8 aspect-square border-2 border-white rounded-full grid place-content-center"
      href="https://t.me/fulfil_education"
    >
      <icon name="facebook" size="24"/>
    </a>
    <!--<a
      class="w-8 aspect-square border-2 border-white rounded-full grid place-content-center"
      href="https://t.me/fulfil_education"
    >
      <icon name="tiktok" size="24"/>
    </a>-->
  </div>

</div>
