<section-container bgColor="gray">
  <div class="wrapper grid grid-cols-9 gap-[16px] 800:gap-[24px] 1200:gap-[32px]">
    <div class="col-span-9 1600:col-span-4 order-1 1600:order-none">
      <section-heading
        heading="Fulfil - online ta'lim markazi"
        description="Hozirgi faoliyatimiz onlayn maktablar qurish, onlayn kurslarni masshtablashtirish va aktiv 1500+ o'quvchilar"
      />

      <div class="flex flex-col gap-6 pt-5 800:pt-8 1200:pt-10">
        <h3 class="text-[22px] 800:text-[26px] 1200:text-[28px] font-bebas leading-[1]">Rivojlanish tarixi</h3>
        <div class="grid grid-cols-6 gap-x-4">
          <ng-container *ngTemplateOutlet="historyItems" />
        </div>
      </div>
    </div>
    <div class="col-span-9 1600:col-span-5 grid grid-cols-1 500:grid-cols-2 900:grid-cols-3 1400:grid-cols-4 1600:grid-cols-2 common-gap">
      <div class="aspect-[460/390] bg-gray-200 common-radius overflow-hidden">
        <image class="w-full h-full" src="images/meet-us/5.jpg"/>
      </div>
      <div class="hidden 500:block aspect-[460/390] bg-gray-200 common-radius overflow-hidden">
        <image class="w-full h-full" src="images/meet-us/3.jpg"/>
      </div>
      <div class="hidden 900:block aspect-[460/390] bg-gray-200 common-radius overflow-hidden">
        <image class="w-full h-full" src="images/meet-us/2.jpg"/>
      </div>
      <div class="hidden 1400:block aspect-[460/390] bg-gray-200 common-radius overflow-hidden">
        <image class="w-full h-full" src="images/meet-us/1.jpg"/>
      </div>
    </div>
  </div>
</section-container>

<ng-template #historyItems>
  @for (item of history; track item.year; let last = $last) {
    <div class="col-span-6 800:col-span-3 1600:col-span-6 flex items-start gap-3 800:gap-4 1200:gap-5">
      <div class="flex flex-col h-full pb-1">
        <div class="text-[20px] 800:text-[24px] 1200:text-[28px] text-[#8D929F] font-bebas leading-[1.1]">
          {{ item.year }}
        </div>
        @if (!last) {
          <div class="block 800:hidden 1600:block w-1/2 flex-grow border-r-[1.5px] border-r-[#DCDFE7]"></div>
        }
      </div>

      <div class="flex flex-col gap-2 1200:gap-3 leading-[1.2]">
        <div class="text-[16px] 800:text-[18px] 1200:text-[20px]">
          {{ item.title }}
        </div>
        <p class="font-[300] text-[#474B56] pb-6">
          {{ item.description }}
        </p>
      </div>
    </div>
  }
</ng-template>
