<section-container bgColor="gray">
  <div class="wrapper grid grid-cols-9 gap-6">
    <ng-container
      *ngTemplateOutlet="contactInfo"
    />

    <ng-container
      *ngTemplateOutlet="contactForm"
    />
  </div>
</section-container>

<ng-template #contactInfo>
  <div class="flex flex-col gap-1 1000:gap-5 1200:gap-6 col-span-9 1000:col-span-4">
    <section-heading
      heading="Biz bilan aloqa"
    />

    <div class="flex flex-col 500:flex-row 1000:flex-col flex-grow gap-3">
      <a href="tel: +998952303909" class="flex items-center gap-3">
        <div class="grid place-content-center w-12 800:w-13 1200:w-14 aspect-square rounded-full bg-black">
          <icon name="phone" size="24"/>
        </div>
        <div class="flex flex-col gap-1.5 leading-[1] font-thin">
          <div class="text-[#474B56]">Telefon raqamimiz</div>
          <div class="font-normal">+998 95 230 39 09</div>
        </div>
      </a>
      <a href="mailto: fulfiledu@gmail.com" class="flex items-center gap-3">
        <div class="grid place-content-center w-12 800:w-13 1200:w-14 aspect-square rounded-full bg-black">
          <icon name="mail" size="24"/>
        </div>
        <div class="flex flex-col gap-1.5 leading-[1] font-thin">
          <div class="text-[#474B56]">Elektron pochta</div>
          <div class="font-normal" [textContent]="'fulfiledu@gmail.com'"></div>
        </div>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #contactForm>
  <form
    [formGroup]="contactUsForm"
    (ngSubmit)="sendNumber()"
    class="col-span-9 1000:col-span-5 flex flex-col gap-3 p-4 800:p-6 1200:p-8 bg-white common-radius leading-[1]">
    <div class="font-thin text-[24px] 800:text-[28px] 1200:text-[32px] font-bebas leading-[1]">Bizga savollar qoldimi?</div>
    <p class="font-thin text-[#474B56]">Telefon raqamingizni qoldiring va operatorlar tez orada siz bilan aloqaga chiqishadi!</p>

    @if (showAlert()) {
      <div
        class="mt-3 p-4 bg-green-50 border border-green-500 text-green-500 text-center rounded-lg font-thin">
        Telefon raqamingiz muvaffaqiyatli jo'natildi. Siz bilan tez orada bog'lanamiz!
      </div>
    }

    <div class="flex flex-col 500:flex-row 500:items-end mt-5 common-gap">
      <label class="flex flex-col gap-2 flex-grow">
        <span class="font-thin text-[#474B56]">Telefon raqamingiz</span>
        <input
          class="h-10 800:h-11 1200:h-12 px-3 rounded-[6px] 800:rounded-[8px] 1200:rounded-[12px] cursor-pointer bg-[#F6F7F9]"
          type="tel"
          formControlName="phone"
          [mask]="' 00 000 00 00'"
          [prefix]="'+998'"
        >
      </label>

      <custom-button
        class="w-full 500:w-[30%]"
        classes="w-full"
        [type]="contactUsForm.disabled ? 'white' : 'green'"
        [text]="contactUsForm.disabled ? 'Yuborilmoqda...' : 'Yuborish'"
      />
    </div>
  </form>
</ng-template>
