<section-container
  bgColor="white"
>
  <div class="wrapper flex flex-col common-gap">
    <section-heading
      heading="Videolar"
    />

    <ng-container
      *ngTemplateOutlet="videos"
    />


  </div>
</section-container>

<!--Members-->
<ng-template #videos>
  <owl-carousel-o [options]="carouselOptions">
    <ng-template carouselSlide>
      <div class="common-radius overflow-hidden aspect-[1072/1920] bg-gray-200">
        <iframe
          class="w-full h-full"
          src="https://rutube.ru/play/embed/885971f7a948364fd43a6c87e35733a4?skinColor=02BC74"
          frameBorder="0"
          allow="clipboard-write; autoplay"
          webkitAllowFullScreen
          mozallowfullscreen
          allowFullScreen
        ></iframe>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="common-radius overflow-hidden aspect-[1072/1920] bg-gray-200">
        <iframe
          class="w-full h-full"
          src="https://rutube.ru/play/embed/6ffe0b995826d6e15f32522092a715da?skinColor=02BC74"
          frameBorder="0"
          allow="clipboard-write; autoplay"
          webkitAllowFullScreen
          mozallowfullscreen
          allowFullScreen
        ></iframe>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="common-radius overflow-hidden aspect-[1072/1920] bg-gray-200">
        <iframe
          class="w-full h-full"
          src="https://rutube.ru/play/embed/782fbe5665786fa5811bb0c3c10ce9be?skinColor=02BC74"
          frameBorder="0"
          allow="clipboard-write; autoplay"
          webkitAllowFullScreen
          mozallowfullscreen
          allowFullScreen
        ></iframe>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="common-radius overflow-hidden aspect-[1072/1920] bg-gray-200">
        <iframe
          class="w-full h-full"
          src="https://rutube.ru/play/embed/6c875cda17747da5a4b1082b36436026?skinColor=02BC74"
          frameBorder="0"
          allow="clipboard-write; autoplay"
          webkitAllowFullScreen
          mozallowfullscreen
          allowFullScreen
        ></iframe>
      </div>
    </ng-template>
  </owl-carousel-o>
</ng-template>

