<section-container
  bgColor="white"
>
  <div class="wrapper flex flex-col common-gap">
    <section-heading
      heading="Videolar"
    />

    <ng-container
      *ngTemplateOutlet="videos"
    />
  </div>
</section-container>

<!--Members-->
<ng-template #videos>
  <div class="grid grid-cols-1 500:grid-cols-2 900:grid-cols-3 1400:grid-cols-4 common-gap">
    <div class="common-radius overflow-hidden aspect-[1072/1920] bg-gray-200">
      <video class="w-full h-full object-cover object-center" controls preload="none" poster="videos/poster-1.jpg">
        <source src="videos/video-1.mp4">
      </video>
    </div>
    <div class="common-radius overflow-hidden aspect-[1072/1920] bg-gray-200">
      <video class="w-full h-full object-cover object-center" controls preload="none" poster="videos/poster-2.jpg">
        <source src="videos/video-2.mp4">
      </video>
    </div>
    <div class="common-radius overflow-hidden aspect-[1072/1920] bg-gray-200">
      <video class="w-full h-full object-cover object-center" controls preload="none" poster="videos/poster-3.jpg">
        <source src="videos/video-3.mp4">
      </video>
    </div>
    <div class="common-radius overflow-hidden aspect-[1072/1920] bg-gray-200">
      <video class="w-full h-full object-cover object-center" controls preload="none" poster="videos/poster-4.jpg">
        <source src="videos/video-4.mp4">
      </video>
    </div>
  </div>
</ng-template>
