<section-container bgColor="gray">
  <div class="wrapper flex flex-col common-gap">
    <ng-container
      *ngTemplateOutlet="headerTemplate"
    />

    <ng-container
      *ngTemplateOutlet="galleryTemplate"
    />
  </div>
</section-container>

<ng-template #headerTemplate>
  <div class="flex items-center justify-between gap-4">
    <section-heading
      heading="Biz bilan yaqindan tanishing"
    />

    <custom-button
      class="hidden 500:block"
      text="Barchasini ko'rish"
      routerLink="/media"
    />
  </div>
</ng-template>

<ng-template #galleryTemplate>
  <div class="grid grid-cols-12 common-gap">
    <div class="col-span-12 500:col-span-6 900:col-span-4 1200:col-span-3 aspect-[360/276] common-radius overflow-hidden bg-gray-200">
      <image class="w-full h-full" src="images/meet-us/1.jpg"/>
    </div>
    <div class="col-span-12 500:col-span-6 900:col-span-4 1200:col-span-3 aspect-[360/276] common-radius overflow-hidden bg-gray-200">
      <image class="w-full h-full" src="images/meet-us/2.jpg"/>
    </div>
    <div class="col-span-12 500:col-span-6 900:col-span-4 1200:col-span-3 aspect-[360/276] common-radius overflow-hidden bg-gray-200">
      <image class="w-full h-full" src="images/meet-us/3.jpg"/>
    </div>
    <div class="col-span-12 500:col-span-6 1200:col-span-3 aspect-[360/276] common-radius overflow-hidden bg-gray-200">
      <image class="w-full h-full" src="images/meet-us/4.jpg"/>
    </div>
    <div class="col-span-12 500:col-span-6 1200:col-span-4 aspect-[360/276] common-radius overflow-hidden bg-gray-200">
      <image class="w-full h-full" src="images/meet-us/5.jpg"/>
    </div>
    <div class="col-span-12 500:col-span-6 1200:col-span-4 aspect-[360/276] common-radius overflow-hidden bg-gray-200">
      <image class="w-full h-full" src="images/meet-us/1.jpg"/>
    </div>
    <div class="hidden 900:block col-span-6 1200:col-span-4 aspect-[360/276] common-radius overflow-hidden bg-gray-200">
      <image class="w-full h-full" src="images/meet-us/2.jpg"/>
    </div>
  </div>
</ng-template>
